{
  "singleQuote": false,
  "arrowParens": "avoid",
  "tabWidth": 4,
  "useTabs": true,
  "trailingComma": "all",
  "bracketSpacing": false,
  "endOfLine": "lf",
  "printWidth": 100,
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "angular"
      }
    }
  ]
}
